/*:root {
  --primary-light: #60ad5e;
  --primary-dark: #005005;
  --primary green: rgb(0, 80, 5);
  --primary grey: rgb(50, 50, 50);
}*/
body {
  font-family: sans-serif;
  color: black;
}

h3 {
  text-align: center;
}

section {
  height: auto;
  text-align: center;
  width: 100%;
}

section p {
  font-size: 20px;
}

#logo {
  font-family: 'Caveat Brush', cursive;
  font-size: 30px;
}

#rescue-nav a,
#rescue-nav a:visited,
#rescue-nav a:focus {
  color: white;
}

#rescue-nav a:hover {
  text-decoration: underline;
}

#rescue-nav {
  background: none;
  border: none;
  color: white;
  opacity: 0;
  transition: all 1s;
}

.row {
  margin: 0;
  padding: 0;
}

#intro {
  background-image: url("../img/anoir-chafik-37957.jpg");
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

#intro > div {
  background: rgba(0, 80, 5, .5);
  color: white;
  padding: 400px 10% 20px 10%;
  opacity: 0;
  transition: all 1s;
}

#intro > div > div {
  background: #60ad5e;
  width: 400px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  margin: 50px auto 0 auto;
}

#intro > div a, footer a {
  color: inherit;
  text-decoration: underline;
}

#shelter-search {
  border: none;
  color: black;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 10px;
  width: 170px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#shelter-searchgo {
  color: white;
  text-align: center;
  cursor: pointer;
}

#shelter-search:focus {
  outline: none;
}

#adoption {
  height: auto;
}

#adoption h2 {
  text-align: left;
}

#shelters, #featured-pets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.shelter {
  border: 2px solid #2e7d32;
  color: black;
  cursor: pointer;
  height: auto;
  padding: 5px;
  position: relative;
  margin: 5px auto;
  text-align: center;
  transition: all .1s;
  width: 300px;
}

.shelter:last-of-type {
  margin-bottom: 20px;
}

.shelter:hover {
  box-shadow: 2px 2px 3px grey;
  transform: scale(1.03);
}

.shelter > div {
  background: #60ad5e;
  bottom: 0;
  color: white;
  height: 30px;
  line-height: 30px;
  margin-left: -5px;
  position: absolute;
  width: 100%;
}

.shelter h4 {
  margin-bottom: 40px;
}

.shelter-detail {
  border-radius: 5px;
  color: black;
  height: auto;
  padding: 5px;
  margin: 5px auto;
  text-align: left;
  width: 80%;
}

.shelter-header {
  border-bottom: 3px solid #60ad5e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  margin: 5px auto;
  width: 95%;
}

.shelter-header > div {
  width: 400px;
  height: 100%;
  margin: 0 auto;
}

.shelter-name {
  text-align: center;
}

.shelter-pets {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px auto;
}

.shelter-pets > div {
  background: #2e7d32;
  color: white;
  width: 400px;
  height: auto;
  margin: 5px auto;
  padding: 2px;
  text-align: center;
}

.shelter-pets > div > span {
  display: block;
}

.shelter-pets figure {
  width: 100%;
  overflow: hidden;
}

.shelter-pets figure img {
  display: block;
  margin: 0 auto;
  height: 300px;
  max-width: 100%;
}

.shelter-pets figcaption {
  background: #60ad5e;
  color: white;
  height: 25px;
  text-align: center;
}

.shelter-pets figcaption h4 {
  line-height: 25px;
}

#mission {
  border-top: 1px solid #005005;
  border-bottom: 1px solid #005005;
}

#mission h2 {
  font-family: 'Caveat Brush', cursive;
}

#mission > div {
  height: auto;
  margin: 0 auto;
  width: 60%;
}

#mission i {
  color: #005005;
}

#featured-pets > div {
  width: 400px;
  height: auto;
  margin: 20px auto;
}

.learn-more {
  background: #60ad5e;
  color: white;
  height: 35px;
  line-height: 35px;
  margin: 10px auto;
  width: 150px;
}

footer {
  background: #005005;
  color: white;
}

footer > div {
  padding: 10px 10px;
  height: 300px;
}

footer p {
  padding: 0px 0px 0px 10px;
}

footer input {
  margin: 10px 0px 0px 10px;
}

@media screen and (max-width: 437px) {

  #rescue-nav {
    background-color: #005005;
  }

  #intro > div {
    background: rgba(0, 80, 5, 1);
    padding-top: 100px;
  }

  #intro > div p {
    font-size: 15px;
  }

  #shelter-search {
    width: 90%;
  }

}

@media screen and (max-width: 616px) {

  #intro > div > div {
    width: 90%;
    height: auto;
  }

  .shelter {
    width: 90%;
  }
}
